{
  "arrowParens": "avoid",
  "semi": true,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "quoteProps": "consistent",
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": true,
  "jsxSingleQuote": true
}
